$name: 'use-bootstrap-select';

// Keep the focus style on the expanded state.
.#{$name} > .form-select[aria-expanded="true"] {
  border-color: $form-select-focus-border-color;
  outline: 0;
  @if $enable-shadows {
    @include box-shadow($form-select-box-shadow, $form-select-focus-box-shadow);
  } @else {
    box-shadow: $form-select-focus-box-shadow;
  }

  &.is-valid {
    border-color: $form-valid-border-color;
    box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($form-valid-color, $input-btn-focus-color-opacity);
  }
  &.is-invalid {
    border-color: $form-invalid-border-color;
    box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($form-invalid-color, $input-btn-focus-color-opacity);
  }
}

// Make dropdownmenu scrollable.
.#{$name} > .dropdown-menu {
  overflow-y: auto;
}
